@import "tailwindcss";

@theme {
  --color-foreground: #171717;
  --color-background: var(--background);
  --color-bg-opaque: var(--bg-opaque);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-text: var(--text);
  --color-brand: #fc8c03;
}

:root {
  --background: rgb(17, 17, 17);
  --bg-opaque: rgb(17, 17, 17, 0.25);
  --background-light: rgb(35, 35, 35);
  --background-dark: rgb(8, 8, 8);
  --text: rgb(235, 236, 243);
  --brand: #fc8c03;
}

:root.light {
  --background: rgb(248, 250, 252);
  --bg-opaque: rgb(248, 250, 252, 0.5);
  --background-light: rgb(255, 255, 255);
  --background-dark: rgb(226, 232, 240);
  --text: rgb(30, 41, 59);
  --brand: #fc8c03;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

*::selection {
  color: var(--background);
  background-color: var(--brand);
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.highlight {
  background: linear-gradient(120deg, #fc8c03 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "poppins", sans-serif;
}

#main::-webkit-scrollbar {
  display: none;
}

#main {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  color: var(--text);
  background-color: var(--background);
}

.section-wrapper {
  position: relative;
  z-index: 10;
  max-width: 1150px;
  margin: auto;
  padding: 4.5rem 1.5rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .section-wrapper {
    padding: 6rem;
  }
}

.chip {
  background-color: var(--background-light);
  padding: 0.125rem 0.5rem;
  border-radius: 999px;
}

.sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.sidebar a {
  height: 100px;
  flex-shrink: 0;
  font-size: 1.125rem;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  border-left: 2px solid transparent;
  width: 100%;
  transition: all 100ms;
  writing-mode: vertical-lr;
}

.sidebar a:hover {
  background-color: var(--background);
  border-left-color: var(--brand);
  opacity: 1;
}

.sidebar a.selected {
  cursor: pointer;
  opacity: 1;
  background-color: var(--background);
  border-left: 2px solid var(--brand);
}

.logo {
  width: 2.75rem;
  height: 2.75rem;
  background-color: var(--background);
  border-radius: 0.125rem;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 1.5rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.25rem 0;
}

.logo span {
  color: var(--brand);
}

/* Hero section css */
.hero {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1.25rem;
}

@media (min-width: 768px) {
  .hero {
    margin-top: 3.5rem;
    margin-bottom: 3rem;
    padding: 2.5rem 1.75rem;
  }
}

.copyWrapper {
  position: relative;
  z-index: 18;
  width: fit-content;
  margin: 3rem 0;
}

h1.title {
  font-size: 3rem;
  font-weight: 900;
  text-align: start;
  line-height: 1.1;
}

@media (min-width: 768px) {
  h1.title {
    font-size: 6rem;
  }
}

h1.title span {
  color: var(--brand);
}

.subTitle {
  font-size: 2.25rem;
  font-weight: 200;
  margin-top: 1rem;
  line-height: 1.1;
}

.subTitle span {
  font-weight: 900;
  color: var(--brand);
}

.aboutCopy {
  margin: 1.5rem 0;
  max-width: 700px;
  font-weight: 200;
  font-size: 1.125rem;
}

.heroGrid {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .heroGrid {
    flex-wrap: nowrap;
    gap: 3rem;
  }
}

.imageShadow {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  z-index: 1;
  filter: blur(0.75rem);
  background: rgba(0, 0, 0, 0.2);
}

/* about styles */
.about {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .about {
    grid-template-columns: 1fr 300px;
  }
}

.aboutText {
  margin-bottom: 1.5rem;
  font-weight: 200;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.linksText {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.125rem;
  color: var(--brand);
}

.highlightFirstLetter:first-letter {
  padding: 1.25rem;
  background-color: var(--background-light);
  border-radius: 0.25rem;
  font-size: 2.25rem;
  font-weight: 700;
  float: left;
  margin-right: 6px;
}

.sectionHeader {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 900;
  text-align: end;
}

@media (min-width: 768px) {
  .title {
    font-size: 3rem;
  }
}

.title span {
  color: var(--brand);
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--text);
  opacity: 0.3;
}

/* stats styles */
.statColumn h4 {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.statColumn h4 span {
  font-size: 1.5rem;
  font-weight: 900;
  position: relative;
  margin-left: 0.5rem;
}

.statGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-bottom: 3rem;
}

/* Link styles */
.links {
  display: flex;
  gap: 1rem;
}

.links a {
  opacity: 0.5;
  position: relative;
  z-index: 20;
  transition: all 100ms;
}

.links a:hover {
  color: var(--brand);
  opacity: 1;
}

/* Heading */
.heading {
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 20;
  font-weight: 700;
  font-size: 1.25rem;
  backdrop-filter: blur(12px);
  height: calc(45px + 36px);
}

@media (min-width: 768px) {
  .heading {
    padding: 0 2.25rem;
  }
}

.outlineButton {
  outline: 0;
  border: 1px solid var(--brand);
  background-color: transparent;
  color: var(--brand);
  font-size: 0;
  border-radius: 0.125rem;
  position: relative;
  z-index: 20;
  overflow: hidden;
  cursor: pointer;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms;
}

@media (min-width: 640px) {
  .outlineButton {
    font-size: 1rem;
    padding: 0.625rem 1.25rem;
  }
}

.outlineButton:hover {
  border-color: var(--text);
  color: var(--text);
}

.outlineButton svg {
  display: block;
  height: 18px;
  width: 18px;
}

@media (min-width: 640px) {
  .outlineButton svg {
    display: none;
  }
}

/* Contact Style */
.contactEmail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: fit-content;
  margin: auto;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--background-light);
  transition: all 250ms ease-in;
}

.contactEmail:hover {
  color: var(--brand);
}